
.home{
    overflow: clip;
    
}

#title{
    font-size: 4.4rem;
    font-weight: bold;
    color: rgb(215, 86, 0);
}

#subtitle{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 3rem;
}

#subtext{
    font-size: 2rem;
    line-height: 28px;
    margin-bottom: 10rem;
}

.bgCurves{
    z-index: -1;
    top: 0;
    right: 0;
    height: 100vh;
    
    /* transform: translate(600px, -300px); */
}
